<h1>Log in!</h1>

<div class="card card-small">
  <div class="card-body">
    <%= form_with(url: sessions_path, local: true) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.submit "Log In", class: "btn btn-teal" %>
      <%= link_to "sign up", new_user_path, class: "btn btn-orange" %>
    <% end %>
    </div>
    
  </div>
</div>
