<!DOCTYPE html>
<html>
  <head>
    <title>ParademProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render "/layouts/navbar" %>
    
    <main class="container-fluid">
      <% flash.each do |type, message| %>
        <%= render "layouts/alert", message: message %>
      <% end %>
    <%= yield %>
  </body>
</html>
